
span.nextword{
  word-wrap: normal;
}

div.spans{
  color: rgb(255, 255, 255);
  font-family: 'castoro',serif;
  font-weight: bolder;
  font-size: larger;
  padding-top: 7px;
  border: white solid 2px;
  border-radius: 4px;
  border-top: none;
  border-right: none;
  border-left: none;

}
div.spans a:hover{
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}
div.spans a{
  color:white;
  cursor: pointer;
  text-decoration: none;
}



 header.header1 {
    font-size: 90px; 
    padding: 20px;
    margin: auto;   
    background-color:none;
    text-align: center;
    background-color:none;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
    font-family: 'Castoro', serif;
    
}

section.time{
    padding-left: 30px ;
    position: relative;
    font-family: 'Castoro', serif;
}
p#mins{
    color:white;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    
}
p#secs{

    color:white;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    
}

p.p1{
    padding-left: 15px;
    padding-top: 15px;
    margin: auto;
    margin-top: 50px;
    color: white;
    font-size: 35px;
    text-align: start;
    
    border: white solid 3px;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: none;
    font-style: bolder;
    font-family: 'Castoro', serif;
}





dt {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-weight: 600;
    color: #666;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(255,0,0,.3);
    letter-spacing: 1px;
}
dd {border: #444 solid 5px;
    border-radius: 5px; 
    background-color: #666;
    text-indent: 0;
    margin: 1ex;
    margin-bottom: 1.5em;
}
#all-inner {
    background-attachment: local;
    box-shadow: 30px 30px 15px rgb(0, 0, 0);
    flex-wrap: wrap;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 65em;
    background: none;   
     
}
#all-outer {
    background-attachment: local;
    background-image: url(imgs/new.2);
    flex-wrap: wrap;
}


#words, #input {
    font-size: 160%;
    text-align: center;
    border: 0;
    background: transparent;
    overflow: hidden;
    word-wrap: break-word;
    flex-wrap: wrap;
}
#testui, .testui {
    margin: auto;
    max-width: 80ex;
}
#wordsbox {
    clear: both;
    text-align: center;
    font-size: 120%;
}
#result {
    font-size: 120%;
}
#result big {
    color: #444;
    font-size: 120%;   text-shadow: 5px 0 5px rgba(255,0,0,.2);
    font-weight: normal;
    font-family: 'Castoro', serif;
}
#result big:first-child {
    font-size: 200%;
}
#result big.fire {
    color: white;
    text-shadow: 0 0 17px rgba(0,0,0,.2), 4px 0px 8px white, -1px -9px 15px yellow, -2px 0px 13px #ff8000, -1px -11px 20px red
}
#result big.fire:first-child {
    color: white;
    text-shadow: 0 0 17px rgba(0,0,0,.2), 4px 0px 8px white, -1px -10px 18px yellow, -2px -1px 19px #ff8000, -1px -17px 25px red
} 
#words-outer {
    padding: auto;
    background:none;
    border-bottom: none;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    flex-wrap: wrap;
}

#words {
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
    background-color: none ;
    height: 260px;
    overflow: hidden;
    line-height: 3ex;
    font-size: 45px;
    border-bottom: none; 
    padding-left: 30px;
    padding-right: 30px;
    word-wrap: break-word;
    flex-wrap: wrap;
    font-family: 'Castoro', serif;
    box-sizing: content-box;
 }

#border:focus {
    -webkit-box-shadow:0 0 10px white; 
    -moz-box-shadow:0 0 10p white; 
    box-shadow:0 0 10px white;
    outline: none;
}




   
 
#input{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    /*margin: auto;*/
    /*margin-top: 20px;*/
    /*padding-top: 23px;*/
    /*padding-left: 155px;*/
    /*padding-right: 100px;*/
    text-align: center;
    letter-spacing: 2px;
    /*height: 85px;*/
    font-size: 45px;
    font-weight: bolder;
    color: white;
    /*margin-right: 40px;*/
    background-color: none;
    /*position: relative;*/
    overflow: hidden;
    /*box-sizing: content-box;*/
    font-family: 'Castoro', serif;
    /*margin-bottom: 35px;*/
    word-wrap: break-word;
    /*flex-wrap: wrap;*/
    /*display: block;*/
    margin-left: 5px;
    
}
#input.form-control{
  max-width: 98%;  
  height: 100px;
  margin-left: 6px;
  margin-bottom: 2px;
  position: absolute;
}

#input:focus {
    -webkit-box-shadow:0 0 10px rgb(255, 255, 255); 
    -moz-box-shadow:0 0 10p rgb(255, 255, 255); 
    box-shadow:0 0 10px rgb(255, 255, 255);
    outline: none;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
}
#words > span {

    display: inline-block;
    padding: 0 0.2em;
    position: relative;
    margin-right: 0.1em;
    overflow: hidden;
    word-wrap: normal;
}
#currentword {
    background-color: rgb(211, 199, 39);
    border-radius: 5px;
    color:black;
    overflow: hidden;
    word-wrap: normal;
}
.incorrect {
    color:black;
    text-decoration: line-through;
    overflow: hidden;
    
}
.correct {
    color:white ;
    word-wrap: normal;
}
#currentword .correct {
    color: rgb(255, 255, 255);
    overflow: hidden;
}
#score {
    background: none;
    background-color: none;
    margin: auto;
    padding-bottom: 1ex;
    line-height: 2ex;
    text-align: center;
    border-bottom: 3px solid black;
    font-style: bolder;
    border-bottom: none;
    font-size: larger;
    border-radius: 7px;
   
    font-family: 'Castoro', serif;
}



#border {
    margin-top: 30px;
    margin-bottom: 0px;
    border: solid 2px white;
    border-radius: 6px;
    background: none;
    height: 450px;
    margin-left: 30px;
    margin-right: 30px;
    display:block ;
}

#score span {

    display: inline-block;
    min-width: 4ex;
    font-size: 80%;
    padding: 2px;
    background-color: none;
    height: 30px;
    text-align: center;
}
#progress, #rawcpm, #cpm, #wpm, #timer {
    text-align: right;
    background-color: none;
    
}
#score span#progress {
    min-width: 8ex;
    border-radius: 6px;
    background-color: none; 
    border: white solid 2px;
    color: white;
    float:right;
    font-size: large;
    margin-top: 0.3em;
    height: 30px;
    margin-right: 15px;
}
#score select, #score input {
    font-size: 100%;
    border-radius: 6px;
    background: none;
    border: white solid 2px;
    color: white;
    cursor: pointer;
    margin-top: auto;
    display: inline;
    position: relative;
}

#score select#kbselect{
    /*margin-left: 640px;*/
    min-width: 9ex;
    border-radius: 6px;
    background-color: none; 
    border: white solid 2px;
    color: white;
    font-size: large;
    cursor: pointer;
    margin-left: 300px;
    position: relative;
    height: 30px;
    margin-top: 0.2em;

}

#words small {
    font-size: 50%;
    line-height: normal;
    
}
option {
    background:none;
    color: black;
    text-indent: 16px;
    background-color: none;
    cursor: pointer;
}
a img {
    border: 0;
}
pre {
    text-align: center;
    font-size: 80%
}
.special, .shift, .key {
    font-weight: bold;
}
.key {
    color: rgb(5, 5, 5);
}
.special {
    color: navy;
}
.shift {
    color: maroon;
}
.hitme {
    color: black;
}
#footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: small;
    color: white;
    padding-bottom: 0px;
    text-shadow: 20px 20px 10px black;
    background: #1b242f;
  padding: 70px 0 50px 0;
  position: relative;
  font-weight: bolder;

}
div.footnote{
    font-weight: bolder;
    font-weight: 'Castoro',serif;
}

#dummyinput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 1;
    height: 1;
    font-size: 1%;
}
#adsense {
    margin: 1ex;
}




#input::placeholder{
    color: white;
    font-size: 30px;
   font-family: 'Castoro', serif;
}








/*#tst-indicator, #tst-indicator:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#tst-indicator {
    
    animation: pulse 1.2s infinite ease-out;
}
.u-px-sm {
    padding-right: .75rem;
}
.u-pl-sm, .u-px-sm {
    padding-left: .75rem;
}
.u-pt-2xs {
    padding-top: .25rem;
}
.u-pb-3xs {
    padding-bottom: .125rem;
}
.u-rounded-sm {
    border-radius: .25rem;
}
.u-bg-accent {
    background-color: #ffd000;
}
*, :after, :before {
    border: 0 solid #d4d4d7;
}
*, :after, :before {
    box-sizing: inherit;

div {
    display: block;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*, :after, :before {
    border: 0 solid #d4d4d7;
}
*, :after, :before {
    box-sizing: inherit;
}
#tst-indicator:after {
    content: "";
    border-style: solid;
    border-width: 7px 5px 0;
    border-color:yellow transparent transparent;
    top: 100%;
}
#tst-indicator, #tst-indicator:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
*, :after, :before {
    border: 0 solid #d4d4d7;
}
*, :after, :before {
    box-sizing: inherit;
}*/
::selection {
    background: #ffd000;
    color: #0f0f10;
}


/*div.simple-keyboard{
   background-color: black;
   -webkit-tap-highlight-color:rgb(19, 17, 17);
   font-weight: bold;
   color: rgb(0, 0, 0);
   touch-action: manipulation;
   
} */

  div.simple-keyboard:active{
    background-color: rgb(255, 255, 255);
  } 
  div.simple-keyboard:hover{
    background-color: none;
  }
  div.simple-keyboard:focus-visible{
      background-color: rgb(255, 255, 255);
  }  
.hg-theme-default .hg-button {
    background-color: white;
    transition: background-color 300ms ease-out;
}
.hg-theme-default .hg-button:hover{
    background-color: rgb(255, 255, 255);
}

.hg-theme-default .hg-button:active{
    background-color: rgb(255, 255, 255);
    transform: translateY(4px);
}


div.simple-keyboard:active{
  background-color: black;
} 
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: larger;
  font-weight: bolder;
  -webkit-tap-highlight-color:rgb(255, 255, 255);
  touch-action: manipulation;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid 2px;
  -webkit-tap-highlight-color:rgb(255, 255, 255);
  color: white;
  background-color:rgb(0, 0, 0);
  touch-action: manipulation;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: fixed;
  color: rgb(0, 0, 0);
  background-color: white;
  -webkit-tap-highlight-color:rgb(255, 255, 255);
}
.simple-keyboard.myTheme1 .hg-button:hover{
  background-color: white;
  color: black;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #ffc400;
}





.input-icons i { 
    color: yellow;
    font-size: 50px;
    animation: updown 1.7s ease infinite;
    margin-left: 450px;
    position: absolute;
}

.fa-commenting::before::after {
    content: "\f27a";
    
}



@keyframes updown {
    40% {
      transform: translateY(-100%);
    }
  
    40% {
      transform: translateY(-100%);
    }
  
    40% {
      transform: translateY(-100%);
    }
  }

  





  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 4px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    

  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Castoro', serif;
    
  }
  
  ul.topnav li a:hover:not(.active) {background-color: rgb(255, 255, 255);color: black;font-weight: bolder;font-family: 'Castoro', serif;}
  
  ul.topnav li a.active {background-color: rgb(255, 255, 255);text-decoration: none;display: block;color: black;}
  
  ul.topnav li a.active:hover:not(.active) {background-color: white;color: black;font-family: 'Castoro', serif;font-weight: bolder;}
  
  ul.topnav li a:hover:not(.active) {background-color: rgb(255, 255, 255);color: black;font-weight: bolder; font-family: 'Castoro', serif;} 
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }


 

  

  

  
  
  /*//////////////////////////////////////////////////////////////////
[ FONT ]*/
/*
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]
  */
  
  
  
  
  /*---------------------------------------------*/
 /* a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #ffffff;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
 
  
  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #ffffff;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  */
  /*---------------------------------------------*/
 /* input {
      outline: none;
      border: none;
  }
  
  input[type="number"] {
      -moz-appearance: textfield;
      appearance: none;
      -webkit-appearance: none;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder {color: #999999;}
  input:-moz-placeholder {color: #999999;}
  input::-moz-placeholder {color: #999999;}
  input:-ms-input-placeholder {color: #999999;}
  
  textarea::-webkit-input-placeholder {color: #999999;}
  textarea:-moz-placeholder {color: #999999;}
  textarea::-moz-placeholder {color: #999999;}
  textarea:-ms-input-placeholder {color: #999999;}
  
  /*---------------------------------------------*/
  /*button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  */
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Contact ]*/
  
  /*.container-contact100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent;
    position: relative;
    z-index: 1;
  }
  
  .contact100-map {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .wrap-contact100 {
    width: 670px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-left: 160px;
    margin-top: 50px;
    border: white solid 2px;
    border-radius: 12px;
    position: absolute;
  }*/
  
  /*==================================================================
  [ Title form ]*/
 /* .contact100-form-title {
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(new.2);
    padding: 64px 15px 64px 15px;
  }
  
  .contact100-form-title-1 {
    font-family: 'Castoro',serif;
    font-size: 60px;
    font-style: bolder;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 7px;
  }
  
  .contact100-form-title-2 {
    font-family: 'Castoro',serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    font-style: bolder;
    
    
  }
  
  
  .contact100-form-title::before {
    content: "";
    
    
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: none;
  }
  */
  
  /*==================================================================
  [ Form ]*/
  
 /* .contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 57px 190px;
  }
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
 /* .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 26px;
  }
  
  .label-input100 {
    font-family: 'Castoro',serif;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.2;
    text-align: right;
    font-style: bolder;
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;
  
  }*/
  
  /*---------------------------------------------*/
  /*.input100 {
    font-family: 'Castoro',serif;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
  }
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
  
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  
    background: #ffd000;
  }
  
  
  /*---------------------------------------------*/
  /*input.input100 {
    height: 45px;
  }
  
  
  textarea.input100 {
    min-height: 115px;
    padding-top: 14px;
    padding-bottom: 13px;
  }
  
  
  .input100:focus + .focus-input100::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }
  */
  
  /*------------------------------------------------------------------
  [ Button ]*/
  /*.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
  }
  
  .contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #fbff00;
    border-radius: 25px;
    font-style: bolder;
    font-family: 'Castoro',serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn:hover {
    background-color: #333333;
  }
  
  .contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }*/
  
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  /*@media (max-width: 576px) {
    .contact100-form {
      padding: 80px 80px 80px 80px;
    }
  }
  
  @media (max-width: 480px) {
    .contact100-form {
      padding: 80px 80px 80px 80px;
    }
  
    .label-input100 {
      text-align: left;
      position: unset;
      top: unset;
      left: unset;
      width: 100%;
      padding: 0 5px;
    }
  }*/
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  /*.validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
  
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }*/
  
  
  html{
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
body{
  scroll-behavior: smooth;
  box-sizing: border-box;
}



.fa-envelope:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}



span.span1{
  cursor: pointer;
}



#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
  background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:550px;
	min-height:300px;
	margin-top:100px;
	border:1px solid rgb(0, 0, 0);
	background-color:rgb(0, 0, 0);
	background-repeat:no-repeat;
  background-position:20px 30px;
  border-radius: 4px;
  text-align: center;
  -webkit-animation: fadein 2s;
  
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
h1{
  border: black solid 3px;
  border-radius: 4px;
}
#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 5em 'castoro',serif;
	background-color:yellow;
	color:rgb(0, 0, 0);
	padding:2px 0 2px 5px;
}

#alertBox p {
	font:2em 'castoro',serif;
	height:50px;
	padding-left:5px;
  
  color: rgb(255, 255, 255);
  text-align: center;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
  margin: auto;
  margin-top: 90px;
	padding:7px;
	border:solid yellow 1px;
	width:80px;
	font:0.7em 'castor',serif;
	text-transform:uppercase;
	text-align:center;
	color:rgb(255, 255, 255);
	background-color:#000000;
	border-radius: 4px;
  text-decoration:none;
  font-weight: bolder;
  font-size: larger;
}
#alertBox #closeBtn:hover{
  background-color: yellow;
  color: black;
}
/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	padding:5px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
  font:0.7em 'castoro',serif;
  margin: auto;
}


span.span1 a:hover{
  color: white;
}

